@model ProductModel

    <div class="col-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">@Model.Name</h4>
            </div>
            <div class="card-body">
                @Model.Description
            </div>
        </div>
    </div>